<div class="flex flex-col justify-center gap-3 px-10">
  <div class="flex justify-end mb-4">
    <mat-form-field appearance="fill">
      <mat-label>Sort By</mat-label>
      <mat-select
        [(value)]="searchParams().sortBy"
        (selectionChange)="onSortChange($event)">
        <mat-option value="name">Name</mat-option>
        <mat-option value="price">Price</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-icon-button (click)="toggleSortDirection()">
      <mat-icon>{{
        searchParams().isDescending
          ? 'arrow_downward'
          : 'arrow_upward'
      }}</mat-icon>
    </button>
  </div>

  @if (products() && products()!.items.length != 0) {
  <div
    class="grid lg:grid-cols-5 sm:grid-cols-2 grid-cols-1 gap-5">
    @for (product of products()!.items; track product.id) {
    <app-product-card
      [product]="product"></app-product-card>
    }
  </div>
  } @else {
  <div class="flex justify-center">
    <div
      class="flex flex-col items-center justify-center py-12 w-full">
      <mat-icon class="icon-display mb-5">error</mat-icon>
      <p class="text-gray-600 text-lg font-semibold mb-4">
        No items found matching your search criteria.
      </p>
    </div>
  </div>
  }

  <mat-paginator
    style="background-color: white"
    [length]="products()?.totalCount"
    [pageIndex]="
      products() === undefined
        ? 0
        : products()!.pageIndex - 1
    "
    [pageSize]="products()?.pageSize"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
    aria-label="Select page"></mat-paginator>
</div>
