<main class="container mx-auto">
  <mat-card
    class="max-w-xl mx-auto mt-32 p-10"
    style="background-color: rgb(246, 246, 246)">
    <div class="text-center mb-7">
      <h1 class="text-3xl font-semibold text-primary">
        Reset Password
      </h1>
    </div>

    @if (successMessage()) {
    <div
      class="mb-4 p-4 bg-green-100 text-green-700 rounded">
      {{ successMessage() }}
    </div>
    } @if (!successMessage()) {
    <p class="mb-6">
      Enter your email address below and we'll send you
      instructions to reset your password.
    </p>

    <form
      [formGroup]="forgotPasswordForm"
      (submit)="onSubmit()">
      <mat-form-field
        appearance="outline"
        class="w-full mb-5">
        <mat-label>Email address</mat-label>
        <input
          formControlName="email"
          type="email"
          placeholder="name@example.com"
          matInput />
        @if (emailError) {
        <mat-error>{{ emailError }}</mat-error>
        }
      </mat-form-field>

      <button
        mat-flat-button
        color="primary"
        [disabled]="
          !forgotPasswordForm.valid || isSubmitting()
        "
        type="submit"
        class="w-full py-2 mb-2">
        @if (isSubmitting()) { Send Reset Link }
      </button>

      @if (errorMessage()) {
      <div class="mt-3 text-red-700">
        {{ errorMessage() }}
      </div>
      }

      <div class="mt-4 text-center">
        <a routerLink="/login" class="text-primary"
          >Back to Login</a
        >
      </div>
    </form>
    }
  </mat-card>
</main>
