<main class="md:ml-16 ml-4 mb-3 mt-24">
  <button
    mat-button
    routerLink="/catalog"
    class="flex items-center gap-2">
    <mat-icon>arrow_back</mat-icon>
    Return
  </button>
</main>
@if (product) {
<div
  class="grid lg:grid-cols-2 gap-x-16 gap-y-6 lg:px-28 md:px-24 px-6 mb-10">
  <div class="flex flex-col align-middle gap-3">
    <div class="flex justify-center relative image-wrapper">
      @if (product.imageUrls.length > 1) {
      <app-carousel
        [items]="product.imageUrls"></app-carousel>
      } @else {
      <img
        [src]="product.imageUrls[0]"
        [alt]="product.name"
        class="product-image" />
      } @if (unavailable) {
      <div class="overlay">
        <span class="overlay-text">Unavailable</span>
      </div>
      }
    </div>
    <div class="ms-5 flex gap-3">
      <span
        class="justify-self-end inline-block py-1 px-2.5 rounded-xl border-2 border-black"
        >{{ product.brand?.name }}</span
      >
      <span
        class="justify-self-start inline-block py-1 px-2.5 rounded-xl border-2 border-black"
        >{{ product.category?.name }}</span
      >
    </div>
  </div>
  <div>
    <div class="mb-3">
      <strong class="font-bold text-3xl">{{
        product.name
      }}</strong>
    </div>
    <div class="mb-8">
      <em>{{ product.price | currency }}</em>
    </div>
    <div class="flex flex-col lg:w-1/2 mb-8">
      <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          min="0"
          [max]="product.stock"
          type="number"
          [(ngModel)]="cartItemsCount"
          [disabled]="unavailable" />
      </mat-form-field>

      <button
        (click)="updateCartQuantity()"
        mat-flat-button
        class="match-input-height"
        [disabled]="unavailable">
        <mat-icon>shopping_cart</mat-icon>
        @if (initialCount() === 0) { Add to cart } @else {
        Update cart }
      </button>
    </div>

    <mat-divider></mat-divider>

    <p class="mt-5 text-gray-500">
      {{ product.description }}
    </p>
  </div>
</div>
} @else {
<app-not-found
  errorText="Product not found."></app-not-found>
}
