<main
  class="flex flex-col justify-center gap-3 mt-32 px-10 container mx-auto">
  <div
    class="flex lg:gap-20 lg:flex-row lg:justify-end flex-col-reverse gap-3">
    <mat-form-field
      appearance="outline"
      class="lg:w-96 w-auto sm:mx-10">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search</mat-label>
      <input
        matInput
        [(ngModel)]="searchParams.name"
        (keyup.enter)="onSearch()"
        placeholder="Search..." />
      @if (searchParams.name) {
      <button
        matSuffix
        mat-icon-button
        (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>

    <div class="flex justify-end">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select
          [(value)]="tempSearchParams.sortBy"
          (selectionChange)="onSortChange()">
          <mat-option value="alphabetically"
            >A to Z</mat-option
          >
          <mat-option value="priceAsc"
            >Price: Low to High</mat-option
          >
          <mat-option value="priceDesc"
            >Price: High to Low</mat-option
          >
        </mat-select>
      </mat-form-field>
      <button
        mat-icon-button
        [matMenuTriggerFor]="filterMenu"
        #menuTrigger="matMenuTrigger">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

    <mat-menu #filterMenu="matMenu" class="custom-menu">
      <div class="p-4" (click)="$event.stopPropagation()">
        <div class="flex flex-col align-middle">
          <mat-form-field appearance="fill">
            <mat-label>Brand</mat-label>
            <mat-select
              [(value)]="tempSearchParams.brandId">
              <mat-option [value]="undefined"
                >None</mat-option
              >
              @for (brand of brands(); track brand.id) {
              <mat-option [value]="brand.id">
                {{ brand.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select
              [(value)]="tempSearchParams.categoryId">
              <mat-option [value]="undefined"
                >None</mat-option
              >
              @for (category of categories(); track
              category.id) {
              <mat-option [value]="category.id">
                {{ category.name }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Min Price</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="tempSearchParams.minPrice" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Max Price</mat-label>
            <input
              matInput
              type="number"
              [(ngModel)]="tempSearchParams.maxPrice" />
          </mat-form-field>
        </div>
        <div class="flex justify-end mt-4 gap-2">
          <button
            mat-button
            (click)="resetFilters(menuTrigger)">
            Reset
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="applyFilters(menuTrigger)">
            Apply
          </button>
        </div>
      </div>
    </mat-menu>
  </div>

  @if (products() && products()!.items.length != 0) {
  <div
    class="grid lg:grid-cols-5 sm:grid-cols-2 grid-cols-1 gap-5">
    @for (product of products()!.items; track product.id) {
    <app-product-card
      [product]="product"></app-product-card>
    }
  </div>
  } @else {
  <app-not-found
    errorText="No items found matching your search criteria."></app-not-found>
  }

  <mat-paginator
    style="background-color: white"
    [length]="products()?.totalCount"
    [pageIndex]="
      products() === undefined
        ? 0
        : products()!.pageIndex - 1
    "
    [pageSize]="products()?.pageSize"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
    aria-label="Select page"></mat-paginator>
</main>
