<main class="container mx-auto">
  <mat-card
    class="max-w-xl mx-auto mt-32 p-10 m-20"
    style="background-color: rgb(246, 246, 246)">
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="text-center mb-7">
        <h1 class="text-3xl font-semibold text-primary">
          Sign up
        </h1>
      </div>
      <mat-form-field
        appearance="outline"
        class="w-full mb-3">
        <mat-label>Full name</mat-label>
        <input
          formControlName="fullName"
          type="text"
          placeholder="John"
          matInput />
        @if (firstNameError) {
        <mat-error>{{ firstNameError }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="w-full mb-3">
        <mat-label>Phone number</mat-label>
        <input
          formControlName="phoneNumber"
          type="tel"
          placeholder="+10123456789"
          matInput />
        @if (phoneNumberError) {
        <mat-error>{{ phoneNumberError }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="w-full mb-3">
        <mat-label>Email address</mat-label>
        <input
          formControlName="email"
          type="email"
          placeholder="name@example.com"
          matInput />
        @if (emailError) {
        <mat-error>{{ emailError }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="w-full mb-3">
        <mat-label>Password</mat-label>
        <input
          (input)="onPasswordChange()"
          formControlName="password"
          type="password"
          placeholder="Password"
          matInput />
        @if (passwordError) {
        <mat-error>{{ passwordError }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        class="w-full mb-5">
        <mat-label>Confirm password</mat-label>
        <input
          (input)="onPasswordChange()"
          formControlName="confirmPassword"
          type="password"
          placeholder="Confirm password"
          matInput />
        @if (confirmPasswordError) {
        <mat-error>{{ confirmPasswordError }}</mat-error>
        }
      </mat-form-field>
      <button
        mat-flat-button
        [disabled]="!loginForm.valid"
        type="submit"
        class="w-full py-2 mb-2">
        Sign up
      </button>
      @if (errorMessage()) {
      <div class="text-red-700">{{ errorMessage() }}</div>
      }
    </form>
  </mat-card>
</main>
