<mat-card
  routerLink="/catalog/{{ product().id }}"
  class="p-1 cursor-pointer"
  style="background-color: white">
  <div class="image-wrapper m-1">
    <img
      mat-card-image
      src="{{ product().thumbnailUrl }}"
      alt="{{ product().name }}" />
    <!-- Gray Overlay for Unavailable Products -->
    @if (product().stock === 0) {
    <div class="overlay">
      <span class="overlay-text">Unavailable</span>
    </div>
    }
  </div>
  <mat-card-content class="mt-2">
    <h2 class="font-semibold uppercase">
      {{ product().name }}
    </h2>
    <p class="font-light">
      {{ product().price | currency }}
    </p>
  </mat-card-content>
  <mat-card-actions
    class="mt-1"
    (click)="$event.stopPropagation()">
    <button
      (click)="addToCart()"
      mat-stroked-button
      [disabled]="isInCart()"
      class="w-full flex align-middle justify-center gap-1">
      @if (isInCart()) {
      <span
        ><fa-icon [icon]="faCheck" class="mr-2"></fa-icon>
        Added to cart</span
      >
      } @else {
      <span
        ><fa-icon
          [icon]="faCartPlus"
          class="mr-2"></fa-icon>
        Add to cart</span
      >
      }
    </button>
  </mat-card-actions>
</mat-card>
